workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == 'develop'

stages:
  - build
  - test

.testbase:
  stage: test
  before_script: SDL_VIDEODRIVER=dummy
  after_script:
    - export PATH="$PATH:/root/.dotnet/tools"
    - dotnet tool update --global dotnet-coverage
    - dotnet-coverage merge --output TestResults.cobertura.xml --output-format cobertura "Safari/TestResults/**/*.coverage"
  artifacts:
    name: {$CI_JOB_ID}-{$CI_COMMIT_REF_NAME}-{$CI_COMMIT_SHORT_SHA}
    reports:
      coverage_report:
        coverage_format: cobertura
        path: TestResults.cobertura.xml

default:
  image: mcr.microsoft.com/dotnet/sdk:8.0

build:debug:
  stage: build
  script:
    - 'dotnet build -p:Configuration=Debug -p:StrippedBuild=true "Safari\Safari.sln"'

build:release:
  stage: build
  script:
    - 'dotnet build -p:Configuration=Release -p:StrippedBuild=true "Safari\Safari.sln"'

test:debug:
  extends: .testbase
  needs:
    - job: build:debug
  script:
    - 'dotnet test -c Debug -p:StrippedBuild=true --results-directory "Safari\TestResults" --collect:"Code Coverage;Format=cobertura" --settings "Safari/CodeCoverage.runsettings" "Safari\Safari.sln"'

test:release:
  extends: .testbase
  needs:
    - job: build:release
  script:
    - 'dotnet test -c Release -p:StrippedBuild=true --results-directory "Safari\TestResults" --collect:"Code Coverage;Format=cobertura" --settings "Safari/CodeCoverage.runsettings" "Safari\Safari.sln"'

