# SOURCES:
# https://docs.gitlab.com/ci/
# https://szofttech.inf.elte.hu/mate/tictactoe-dotnet
# https://www.meziantou.net/computing-code-coverage-for-a-dotnet-project.htm

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == 'develop'

stages:
  - build
  - test
  - deploy

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: Jobs/SAST.gitlab-ci.yml

variables:
  GITLAB_ADVANCED_SAST_ENABLED: true

default:
  image: mcr.microsoft.com/dotnet/sdk:8.0

build:
  stage: build
  script:
    - dotnet build -p:Configuration=Release -p:StrippedBuild=true Safari/Safari.sln

model_tests:
  stage: test
  needs:
    - job: build
  script:
    - SDL_VIDEODRIVER=dummy # no-op graphics driver for headless execution of the game
    - >
      dotnet test Safari/Safari.sln -c Debug -p:StrippedBuild=true
      --logger:"junit;MethodFormat=Class;FailureBodyFormat=Verbose"
      --collect:"XPlat Code Coverage"
      --settings "Safari/CodeCoverage.runsettings"
    # install deps
    - apt-get update -yqq
    - apt-get install -yqq bc
    - dotnet tool install --tool-path . dotnet-reportgenerator-globaltool
    # merge reports
    - ./reportgenerator "-reports:$CI_PROJECT_DIR/**/TestResults/*/coverage.cobertura.xml" "-targetdir:report" "-reporttypes:Cobertura"
    # generate HTML report (for Pages)
    - ./reportgenerator "-reports:$CI_PROJECT_DIR/**/TestResults/*/coverage.cobertura.xml" "-targetdir:report/html" "-reporttypes:Html"
    # calculate coverage
    - line_rate="$(head -n 3 ./report/Cobertura.xml | sed 'N;N;s/.*line-rate="\([^" ]*\).*/\1/g')"
    - coverage=$(echo "${line_rate} * 100" | bc)
    - 'printf "TOTAL_COVERAGE=%2.2f\n" "$coverage"'
  artifacts:
    paths:
      - ./Safari/*/TestResults/TestResults.xml
      - ./Safari/*/TestResults/*/coverage.cobertura.xml
      - ./report/html/
    reports:
      junit:
        - ./Safari/*/TestResults/TestResults.xml
      coverage_report:
        coverage_format: cobertura
        path: ./Safari/*/TestResults/*/coverage.cobertura.xml
  coverage: '/TOTAL_COVERAGE=(\d+.\d+)/'

generate_docs:
  stage: deploy
  image: ubuntu:24.04
  needs:
    - job: model_tests
  before_script:
    - apt-get update -yqq
    - apt-get install -yqq doxygen graphviz
  script:
    - doxygen
    - mkdir -p public/docs public/coverage
    - cp -r doc/html/. public/docs
    - cp -r report/html/. public/coverage
  artifacts:
    paths:
      - public
    expire_in: 1 day
  only:
    - master
    - develop