workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == 'develop'

stages:
  - build
  - test

.testbase:
  stage: test
  before_script: SDL_VIDEODRIVER=dummy

default:
  image: mcr.microsoft.com/dotnet/sdk:8.0

build:debug:
  stage: build
  script:
    - 'dotnet build -p:Configuration=Debug -p:StrippedBuild=true "Safari\Safari.sln"'

build:release:
  stage: build
  script:
    - 'dotnet build -p:Configuration=Release -p:StrippedBuild=true "Safari\Safari.sln"'

test:debug:
  extends: .testbase
  needs:
    - job: build:debug
  script:
    - 'dotnet test -c Debug -p:StrippedBuild=true "Safari\Safari.sln"'

test:release:
  extends: .testbase
  needs:
    - job: build:release
  script:
    - 'dotnet test -c Release -p:StrippedBuild=true "Safari\Safari.sln"'