<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Format>cobertura</Format>

					<Include>[Safari]Safari.Model*</Include>
					<ExcludeByAttribute>Obsolete, ExcludeFromCodeCoverage, JsonConstructor, PostPersistenceSetup, PostPersistenceStaticSetup</ExcludeByAttribute>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>